.color_gradiente{
    background: -webkit-linear-gradient(95deg, rgba(29, 29, 29, 0.91), rgba(216, 188, 168, 0.29)) !important;
    background: -o-linear-gradient(95deg, rgba(29, 29, 29, 0.91), rgba(216, 188, 168, 0.29))!important;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.57)) !important;    
}
#logo{
    width: 9.0vh; 
    
}
#page-top{
    margin-top: 11.5vh;
}
nav{
    opacity: 0.95;
}
.navbar, footer{
    background: radial-gradient(circle, rgba(6,5,2, .9) 0%, rgba(6,5,2, .9) 80%, rgba(126,125,133, .9));
}
#conteudo{
    background-color: rgba(95, 94, 94, 0.94);
    height: 83.4vh;
}

.border-style{
    border: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgba(255, 0, 0, 0.74);
}

.modal_border{
  width: 300px;
  border-right: 1px solid rgba(30, 144, 255, 0.03);
  position: relative;
  padding: 0px;
}

.modal_border:after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 300px;
  left: -2px;
  top: 200px;
  background: rgba(255, 0, 0, 0.74);
}


/* DIV 1  inicio */
.bgImg{
    margin: -0% -5% -0% -40%;
    height: 100%;
    background-size: cover;
    opacity: 1;
    transition-duration: 1s;
}

.modalidades{
    position: relative;
    overflow: hidden;
}

#modal_1:nth-child(1):hover .bgImg{
    transform: scale(1.05);
    transition-duration: 1s;
}

#modal_1:before{
    opacity: 0;
    content: 'Tai Chi Chuan Yang Simplificado';
    margin-top: 50%;
    margin-left: 5%;
    width: 90%;
    height: 250px;
    position: absolute;
    padding:10px;
    padding-top: 50px;
    font-family:Arial;
    text-align:center;
    color:white;
    background-color:rgba(5, 5, 5, 0.3);
    z-index: 1;
    transition: all 1s;
}
#modal_1:hover:before{
    transition: opacity 1s ;
    opacity: 1;
}

.bgImg1{
    background-image: url(../_imagens/1.jpg);
}

#modal_2:nth-child(2):hover .bgImg{
    transform: scale(1.05);
    transition-duration: 1s;
}
#modal_2:before{
    opacity: 0;
    content: 'Tai Chi chuan Yang tradicional';
    margin-top: 50%;
    margin-left: 5%;
    width: 90%;
    height: 250px;
    position: absolute;
    padding:10px;
    padding-top: 50px;
    font-family:Arial;
    text-align:center;
    color:white;
    background-color:rgba(5, 5, 5, 0.3);
    z-index: 1;
    transition: all 1s;
}
#modal_2:hover:before{
    transition: opacity 1s ;
    opacity: 1;
}
.bgImg2{
    background-image: url(../_imagens/2.jpg);
}

#modal_3:nth-child(3):hover .bgImg{
    transform: scale(1.05);
    transition-duration: 1s;
}

#modal_3:before{
    opacity: 0;
    content: 'Kung Fu wushu moderno Mãos do Norte';
    margin-top: 50%;
    margin-left: 5%;
    width: 90%;
    height: 250px;
    position: absolute;
    padding:10px;
    padding-top: 50px;
    font-family:Arial;
    text-align:center;
    color:white;
    background-color:rgba(5, 5, 5, 0.3);
    z-index: 1;
    transition: all 1s;
    border: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-color: rgba(255, 0, 0, 0.74);

}
#modal_3:hover:before{
    transition: opacity 1s ;
    opacity: 1;
}

.bgImg3{
    background-image: url(../_imagens/3.jpg);
}

#modal_4:nth-child(4):hover .bgImg{
    transform: scale(1.05);
    transition-duration: 1s;
}

#modal_4:before{
    opacity: 0;
    content: "Kung Fu Fei Hok Phai estilo tradicional Mãos do Sul";
    margin-top: 50%;
    margin-left: 5%;
    width: 90%;
    height: 250px;
    position: absolute;
    padding:10px;
    padding-top: 50px;
    font-family:Arial;
    text-align:center;
    color:white;
    background-color:rgba(5, 5, 5, 0.3);
    z-index: 1;
    transition: all 1s;
}
#modal_4:hover:before{
    transition: opacity 1s ;
    opacity: 1;
}
.bgImg4{
    background-image: url(../_imagens/4.jpg);
}

#modal_5:nth-child(5):hover .bgImg{
    transform: scale(1.05);
    transition-duration: 1s;
}

#modal_5:before{
    opacity: 0;
    content: "Lian Gong 18 Terapias";
    margin-top: 50%;
    margin-left: 5%;
    width: 90%;
    height: 250px;
    position: absolute;
    padding:10px;
    padding-top: 50px;
    font-family:Arial;
    text-align:center;
    color:white;
    background-color:rgba(5, 5, 5, 0.3);
    z-index: 1;
    transition: all 1s;
}
#modal_5:hover:before{
    transition: opacity 1s ;
    opacity: 1;
}
.bgImg5{
    background-image: url(../_imagens/5.jpg);
}
/* DIV 1  fim */

